# Terraform files
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform/
.terraform/** 
.terraform.lock.hcl
crash.log
crash.*.log
terraform.tfvars
tf/out.log
# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Backup files
*.bak
*.backup


#output
secret/*.log
secret/*.txt
secret/*.yaml
secret/*.sh

#values
values.yaml
temp.yaml